.SearchTagButton {   
    display: inline-flex;
    align-items: center;
    background-color: var(--cyan2);
    color: white;    
    border-radius: 2px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.searchTagText {
    background-color: var(--cyan2);
    color: var(--cyan3);
    font-weight: 550;
    padding-left: 5px;
}

.searchTagClose {
    height: 100%;
    background-color: var(--cyan3);
    color: var(--cyan1);
    border: none;       
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
   justify-content: center;
}

.searchTagClose:hover {
    background-color: var(--cyan5);
    cursor: pointer;
}